<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/simstudio</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.ast.ASTQueryTranslatorFactory</property>
    <mapping resource="DAO/File.hbm.xml"/>
    <mapping resource="DAO/Comment.hbm.xml"/>
    <mapping resource="DAO/User.hbm.xml"/>
    <mapping resource="DAO/Messages.hbm.xml"/>
    <mapping resource="DAO/Group.hbm.xml"/>
    <mapping resource="DAO/Message.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
